body{
	background: blue;
	font-family: 'Gowun Dodum', sans-serif;
}

.Container{
	width: 300px;
	height: 350px;
	background: gray ;
	position: absolute; 
	/* by default the positoion is static to make its move use position: absolute;
	once its done u can move the text any position u want
	*/
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #fff;
	padding: 60px;
	border-radius: 50px;
}

input{
	width: 300px;
	padding: 10px;
	margin-top: 5px;
}
input:focus{
	outline: none;
}
h1{
	font-size: 35px;
}